.fit-cover {
  object-fit: cover;
}

.card-h {
  opacity: 0.9;
  cursor: pointer;
}

.card-h:hover {
  opacity: 1;
  transform: scale(1.05);
}

a {
  color: rgb(23,64,105);
}

.card {
  color: #354a4f;
}

