@font-face {
	font-family: 'Sprite Graffiti Shadow';
	src: url(../../assets/fonts/SpriteGraffiti-Shadow.woff2) format('woff2'),
	url(../../assets/fonts/SpriteGraffiti-Shadow.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}