section {
    margin-bottom: 10rem;
}

.text-align-right {
    text-align: right;
}

.first-content {
    margin-top: 22rem;
}

.header-section {
    padding: 0 5% 0 5%;
    margin-bottom: 28rem;
}

.header-section p, .header-section button {
    margin-top: 4rem;
}